# **輸入**



*   input() 讀進來的資料型態是字串（str）
*   .split()以空格分隔
*   因為是字串，所以要做運算時，要在前面加【int()整數】、【float()浮點數】
*   清單項目

In [54]:
name = input("輸入一個名字：")
print("Hello,", name, "!")

輸入一個名字：amy
Hello, amy !

In [56]:
#多重輸入
name, age = input("請輸入姓名與年齡（以空格分隔）：").split()
print(f"{name} 今年 {age} 歲")

請輸入姓名與年齡（以空格分隔）：amy 20
amy 今年 20 歲

In [57]:
age = int(input("請輸入年齡："))
print(age + 1)

請輸入年齡：20
21

# **條件判斷**

In [ ]:
# if-elif-else 語句
age = 18

if age >= 18:
    print("成年人")
elif age >= 13:
    print("青少年")
else:
    print("兒童")

In [2]:
# if-elif-else 語句
age = 18

if age >= 18:
    print("成年人")
elif age >= 13:
    print("青少年")
else:
    print("兒童")

# 比較運算子
a = 5
b = 10

if a == b:      # 相等
    print("相等")
if a != b:      # 不相等
    print("不相等")
if a < b:       # 小於
    print("a 小於 b")
if a > b:       # 大於
    print("a 大於 b")

# 邏輯運算子
if age >= 18 and age <= 65:
    print("工作年齡")

if age < 12 or age > 70:
    print("特殊年齡層")

if not is_student:
    print("不是學生")

成年人
不相等
a 小於 b
工作年齡

**javascript對照**

In [ ]:
// if-else if-else 語句
let age = 18;
yy
if (age >= 18) {
    console.log("成年人");
} else if (age >= 13) {
    console.log("青少年");
} else {
    console.log("兒童");
}

// 比較運算子
let a = 5;
let b = 10;

if (a === b) {    // 嚴格相等
    console.log("相等");
}
if (a !== b) {    // 嚴格不相等
    console.log("不相等");
}
if (a < b) {      // 小於
    console.log("a 小於 b");
}
if (a > b) {      // 大於
    console.log("a 大於 b");
}

// 邏輯運算子
if (age >= 18 && age <= 65) {
    console.log("工作年齡");
}

if (age < 12 || age > 70) {
    console.log("特殊年齡層");
}

# **字典**


*   Python 字典的鍵必須是字串（或其他不可變類型）
*   name, age, city → 都是 鍵 (keys)
*   "Alice", 20,"Taipei" → 是 值 (values)

In [49]:
# Python 字典（類似 JS 物件）
person = {
    "name": "Alice",
    "age": 20,
    "city": "Taipei"
}
person_name = person["name"]  # 存取屬性
age=person["age"]
city = person["city"]
print(person_name)
print(age)
print(city)

Alice
20
Taipei

# **巢狀字典**

In [50]:
student = {
    "name": "小明",
    "age": 20,
    "grades": [85, 90, 78],
    "contact": {
        "email": "ming@school.com",
        "phone": "0912-345-678"
    }
}

print(student["name"])            # 直接取值 → 小明
print(student["grades"][1])       # 取出第二個成績 → 90
print(student["contact"]["email"])  # 巢狀取值 → ming@school.com

小明
90
ming@school.com

**修改與新增資料**
*   若 key 存在 → 覆蓋
*   若 key 不存在 → 新增

In [51]:
student["age"] = 21               # 修改現有資料
student["city"] = "Taipei"        # 新增新欄位
print(student)

{'name': '小明', 'age': 21, 'grades': [85, 90, 78], 'contact': {'email': 'ming@school.com', 'phone': '0912-345-678'}, 'city': 'Taipei'}

*   小明", 20, [85, 90, 78], {...} → 是 值 (values)

*   contact 裡還有一個巢狀字典（nested dictionary）

**刪除資料**

In [52]:
del student["city"]         # 刪除鍵
student.pop("age")          # 刪除並回傳值
print(student)

{'name': '小明', 'grades': [85, 90, 78], 'contact': {'email': 'ming@school.com', 'phone': '0912-345-678'}}

# **遍歷字典**

* items()：同時取得鍵與值

* keys()：只取鍵

* values()：只取值

In [53]:
for key, value in student.items():
    print(f"{key}: {value}")

name: 小明
grades: [85, 90, 78]
contact: {'email': 'ming@school.com', 'phone': '0912-345-678'}

# **函式定義**

In [19]:
# 基本函式定義
def greet(name):
    return f"Hello, {name}!"

# 呼叫函式
result = greet("Alice")

# 印出結果
print(result)           # Hello, Alice!
print(greet("Bob"))

Hello, Alice!
Hello, Bob!

In [20]:
# 多參數函式
def calculate_sum(a, b):
    return a + b

# 呼叫函式
total = calculate_sum(5, 3)

# 印出結果
print(total)            # 8
print(calculate_sum(10, 20))

8
30

In [18]:
# 預設參數
def introduce(name="Bob", age=20):
    return f"I'm {name}, {age} years old."


# 印出結果
print(introduce())            # I'm Bob, 20 years old.

I'm Bob, 20 years old.

In [21]:
def introduce(name, age):
    return f"I'm {name}, {age} years old."

# 呼叫函式
intro = introduce("Bob",20)

# 印出結果
print(intro)            # I'm Bob, 20 years old.
print(introduce("Alice", 30))

I'm Bob, 20 years old.
I'm Alice, 30 years old.

**JavaScript 對照**

In [ ]:
// 函式宣告
function greet(name) {
    return `Hello, ${name}!`;
}

// 函式表達式
const calculateSum = function(a, b) {
    return a + b;
};


const introduce = (name, age = 20) => {
    return `I'm ${name}, ${age} years old.`;
};

// 呼叫函式
let result = greet("Alice");
let total = calculateSum(5, 3);
let intro = introduce("Bob");

// 箭頭函式簡寫
const square = x => x * x;

# **迴圈結構**



*   for 迴圈用於重複執行固定次數的動作。
*   迴圈除了for迴圈還有**while迴圈**

In [40]:
for i in range(5):      # 0, 1, 2, 3, 4
  print(i)

0
1
2
3
4

*   range(1, 10) 代表從 1 到 9（不含 10）

In [39]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

**JavaScript 對照**

In [ ]:
// for 迴圈 - 傳統迴圈
for (let i = 0; i < 5; i++) {    // 0, 1, 2, 3, 4
    console.log(i);
}



*   contimue 跳過那個值，並繼續執行
*   break 跳過那個值，並且跳出迴圈

In [22]:
# 迴圈控制
for i in range(10):
    if i == 3:
        continue    # 跳過本次迭代
    if i == 7:
        break       # 跳出迴圈
    print(i)

0
1
2
4
5
6

In [24]:
# while 迴圈
count = 0
while count < 5:
     print(count)
     count += 1   #count = count + 1

0
1
2
3
4

#**巢狀迴圈_九九乘法表**


*   巢狀迴圈 (Nested loop)：外圈控制列數，內圈控制欄數
*   【end="\t"】 for j in range(1, 10):用 tab 分隔
*   【print()】、【"\t"】是換行的意思

In [44]:
for i in range(1, 10):
  for j in range(1, 10):
      print(f"{i} x {j} = {i*j}", end="\t")
  print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

# **列表和迴圈**

* fruit 是暫時代表清單中「目前這個水果」的變數名稱，寫成別的變數也是相同的結果

In [25]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
     print(fruit)

apple
banana
cherry

In [26]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
    print(item)

apple
banana
cherry

In [27]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

*   使用 for迴圈 和 fruits[] 陣列中的位置去 print值

In [46]:
fruits = ["apple", "banana", "cherry", "grava", "Papaya", "Watermelon", "pineapple"]
for i in range(7):      # 0, 1, 2
     print(fruits[i])

apple
banana
cherry
grava
Papaya
Watermelon
pineapple

**JavaScript 對照**

In [ ]:
// for 迴圈 - 遍歷陣列
let fruits = ["apple", "banana", "cherry"];
for (let i = 0; i < fruits.length; i++) {
    console.log(fruits[i]);
}

#**練習與解答**

**JavaScript**

In [ ]:
// JavaScript 版本
function calculateGrade(score) {
    if (score >= 90) {
        return "A";
    } else if (score >= 80) {
        return "B";
    } else if (score >= 70) {
        return "C";
    } else {
        return "F";
    }
}

let studentScore = 85;
let grade = calculateGrade(studentScore);
console.log(`成績等級: ${grade}`);

In [28]:
# Python 版本
def calculate_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "F"

student_score = 85
grade = calculate_grade(student_score)
print(f"成績等級: {grade}")

成績等級: B

In [29]:
# 字典創建與操作
student = {
    "name": "小明",
    "age": 20,
    "grades": [85, 90, 78],
    "contact": {
        "email": "ming@school.com",
        "phone": "0912-345-678"
    }
}

# 存取資料
print(student["name"])           # 小明
print(student.get("height", "未知"))  # 安全的取得方式，避免錯誤

# 遍歷字典
for key, value in student.items():
    print(f"{key}: {value}")

小明
未知
name: 小明
age: 20
grades: [85, 90, 78]
contact: {'email': 'ming@school.com', 'phone': '0912-345-678'}

*   input() 讀進來的資料型態是字串（str）
*   range(1, a+1) 需要「整數（int）」

In [38]:
a =int(input("輸入一個數字"))
t=0
for i in range(1,a+1):
    t=t+i
print(t)

輸入一個數字2
3

In [45]:
a = input("輸入一個名子")

輸入一個名子Amy